@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --one: #722A68;
    --two: #B87931;
    --three: #A76A9C;
    --four: #251A2B;
    --bkgnd: #EFECE8;
}

/* -------------------- BASE -------------------- */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: var(--dark);
    background-color: var(--bkgnd);
}

a {
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
li {
    margin-bottom: 10px;
}
.btn {
    padding: 8px 25px;
    border-radius: 50px;
    font-family: "Cascadia Code";
    font-size: 18px;
    transition: 0.5s ease-in;
}

/* -------------------- TYPOGRAPHY -------------------- */
h1 {
    font-family: "Cascadia Code";
    font-size: 48px;
    color: var(--one);
}
h2 {
    font-family: "Montserrat";
    font-weight: 500;
    text-align: left;
    font-size: 28px;
    color: var(--two);
    margin: 0;
}
h3{
    font-family: "Cascadia Code";
    font-weight: 500;
    text-align: left;
    font-size: 28px;
    color: var(--three);
    margin: 0;
}
h5 {
    font-family: "Cascadia Code";
    font-size: 20px;
    max-width: 720px;
    margin: 30px auto 0;
    color: var(--three);
}
p {
    font-size: 18px;
    color: var(--four);
    line-height: 1.4;
}

/* -------------------- HEADER -------------------- */
header {
    position: sticky;
    top: 0;
    z-index: 9999 !important;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bkgnd);
    border-bottom: 2px solid var(--four);
}

header .title {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    color: var(--three);
}

header .subtitle {
    font-family: "Cascadia Code";
    font-size: 19px;
    font-weight: 400;
    margin-top: 7px;
    color: var(--dark);
}
/* ------------------- NAVBAR ------------------- */
.menu-toggle{
display:none;
}

nav {
    font-weight: 500;
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav {
    color: var(--two);
    border: 2px solid transparent;
}
.nav:hover {
    background-color: var(--two);
    color: var(--bkgnd);
}

.nav-item {
    position: relative;
}

/* ------------------ ARTICLES ------------------ */
article {
    padding: 30px 22% 4%;
    margin-top: 15px;
    margin-bottom: 20px;
}
article.coffee {
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
}

.coffee p, .coffee h3 {
    color: var(--bkgnd);
}
.section-block {
    margin-top: 6%;
    display: flex;
    gap: 50px;
    align-items: start;
}
.section-image {
    margin-top: 6%;
    display: flex;
    gap: 50px;
}
.text-block {
    font-size: 16px;
    line-height: 1.7;
    margin: 0 30px;
    text-align: left;
}
.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

/* -------------------- PORTFOLIO GRID -------------------- */
.portfolio {
    max-width: 80%;
    padding: 80px 13% 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 60px;
}

.item {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: 0.4s ease;
}

.item-content {
    margin-top: 20px;
}

.item .img-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 15px;
    background: #eaeaea;
    transition: 0.8s ease;
    border: 2px solid var(--four);
}

.item:hover .img-container{
    transform: scale(1.03);
}

.item .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.2s ease, filter 0.6s ease;
}

.item:hover .img-container img {
    transform: scale(1.15);
    filter: brightness(0.5);
}

.item-title {
    font-family: "Montserrat";
    color: var(--one);
    font-size: 26px;
    margin: 0 0 8px;
    font-weight: 500;
}

.title-area {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.item-desc {
    font-size: 14px;
    line-height: 1.5;
    margin: 12px 0;
    color: var(--four);
}

.item-meta {
    font-size: 13px;
    opacity: 0.7;
}
/* --------------- TAGS --------------- */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
}

.tag {
    font-size: 14px;
    font-family: "Cascadia Code";
    font-style: italic;
    background: transparent;
    border: 1px solid var(--three);
    color: var(--three);
    padding: 4px 14px;
    border-radius: 20px;
}

/* ------------------ HERO ------------------ */
.hero-container {
    margin: 60px auto 0;
    width: 100%;
    max-width: 1200px;
}
.hero-img {
    width: 100%;
    aspect-ratio: 16 / 7;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);


}

.project-subtitle {
    font-size: 30px;
    margin-bottom: 24px;
    max-width: 700px;
}

.description {
    margin-bottom: 3%;
    font-size: 16px;
    text-align: center;
}

/* -------------------- IMAGE BOX SYSTEM -------------------- */
.img-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.three-grid {
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.two-grid {
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.grid-16x7 { aspect-ratio: 16 / 7; }
.grid-3x2 { aspect-ratio: 3 / 2; }
.grid-8x10 { aspect-ratio: 8 / 10; }
.grid-4x3 { aspect-ratio: 4 / 3; }
.grid-1x1 { aspect-ratio: 1 / 1; }

/* -------------------- ABOUT SECTION -------------------- */
.about {
    width: 100%;
    padding: 80px 0;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 0 40px;
}

.about-photo {
    width: 400px;
    aspect-ratio: 3 / 4;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.about-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    max-width: 550px;
}

.about-buttons {
    display: flex;
    gap: 50px;
    margin-top: 15%;
}

.btn-rsm {
    padding: 10px 35px;
    border-radius: 20px;
    font-weight: 500;
    border: 2px solid var(--three);
    color: var(--three);
    transition: 0.2s;
    letter-spacing: 0.5px;
}
.btn-cv{
    padding: 10px 35px;
    border-radius: 20px;
    font-weight: 600;
    background: var(--three);
    color: var(--bkgnd);
    transition: 0.2s;
    letter-spacing: 1px;
}
.btn-rsm:hover {
    transform: scale(1.05);
}
.btn-cv:hover {
    transform: scale(1.08);
}

/* -------------- PROJECT NAVIGATION ------------- */
.project-navigation {
    max-width: 600px;
    margin: 0px auto 2%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.projnav{
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}

.prev { 
    justify-content: flex-start; 
    border: 2px solid var(--three);
    color: var(--three);}
.projnav:hover {
    background-color: var(--one);
    color: var(--bkgnd);
}
.next { 
    justify-content: flex-end; 
    border: 2px solid var(--three);
    background-color: var(--three);
    color: var(--bkgnd);
}

.project-nav-btn.single {
    grid-column: 1 / -1;
    justify-content: center;
}

/* -------------------- FOOTER -------------------- */
.footer {
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;

    color: var(--bkgnd);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 40px;
    font-size: 14px;
}

.footer-icons {
    display: flex;
    gap: 32px;
}

.footer a {
    color: inherit;

    display: flex;
    align-items: center;
    gap: 10px;

    opacity: 0.7;
    transition: 0.2s ease;
}

.footer a:hover {
    opacity: 1;
}

.footer img {
    height: 16px;
}

/* ------------------ SLIDER ------------------ */
.slider-wrapper {
    overflow: hidden;
    max-width: 750px;
    margin: 0 70px 50px;
}

.card-list .card-item {
    padding: 25px;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;

}

.card-list .card-item .carrusel-image {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--three);
    overflow: hidden;
    aspect-ratio: 3 / 2;
}

.card-list .card-item .carrusel-image img{
    object-fit: cover;
}

.slider-wrapper .swiper-pagination-bullet {
    background: var(--two);
    height: 10px;
    width: 10px;
}

.slider-wrapper .swiper-slide-button {
    color: var(--two);
    margin-top: -80px;
    transition: 0.5s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: var(--two);
    opacity: 0.5;
}


/* R E S P O N S I V E */

/* TABLET */
@media (max-width: 1024px) {
    .menu-toggle{
        display:block;
        font-size:28px;
        background:none;
        border:none;
        cursor:pointer;
        }

    .nav{
        display:none;
        flex-direction:column;
        position:absolute;
        top:80px;
        right:20px;
        background:white;
        padding:20px;
        border-radius:10px;
        box-shadow:0 8px 20px rgba(0,0,0,0.15);
    }

.three-grid{ grid-template-columns: repeat(2,1fr); }

}


/* MOBILE */
@media (max-width: 768px) {
    .portfolio { display: grid; grid-template-columns: repeat(1, 1fr); gap: 50PX;}
    .title-area { display: block; align-items: flex-start;}
    .tags {justify-content: flex-start;}
    .tag {font-size: 12px;}
    .hero-img{ aspect-ratio: 4 / 3;}
    .three-grid,.two-grid{ grid-template-columns: 1fr; gap:30px;}
    .footer-copy {font-size: 12px;}
    .footer-icons {gap: 25px;}
    .footer img {height: 20px;}
    .social-user{display:none;}

}