@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

        :root {
            --pink: #DC6FE8;
            --green: #E6F8B9;
            --purple: #7369FA;
            --dark: #202020;
            --gray: #fafafa;
        }

        body {
            font-family: "Montserrat", sans-serif;
            margin: 0;
            color: var(--dark);
            background-color:var(--gray);   
        }

        /* HEADER */
        header {
            position: sticky;
            top: 0;
            z-index: 10;
            padding: 20px 6%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            background-color: var(--gray);
            box-shadow: 0 1px 3px rgba(0,0,0,0.20); 
        }

        header .title {
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: var(--pink);
        }

        header .subtitle {
            font-family: "Cascadia Code";
            font-size: 16px;
            color: var(--dark);
            margin-top: 6px;
        }

        nav {
            display: flex;
            gap: 30px;
        }

        main {
            padding: 20px 15% 60px;
        }

        h1 {
            font-family:"Cascadia Code";
            font-size: 40px;
            color: var(--purple);
        }

        h2{
            font-family: "Cascadia code";
            font-style: italic;
            font-weight: 500;
            text-align: center;
            font-size: 28px;
            color: var(--purple);

            margin-right: auto;
            margin-left: auto;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        h3{
            font-family: "Cascadia code";
            font-size: 20px;
            text-align: left; /* recomendable */
            max-width: 720px;

            margin-right: auto;
            margin-left: auto;
            margin-top: 30px;
            margin-bottom: 0px;
        }
        .description{
            font-size: 18px;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 5%;
        }

        .text-block {
            width: 100%;
            max-width: 800px;
            text-align: left; /* recomendable */
            line-height: 1.5;
            font-size: 18px;
            font-weight: 400;
            margin-left: auto;
            margin-right: auto; /* centra el bloque */
            text-align: left;   /* alineación del texto dentro */
            display: block;     /* asegura comportamiento normal de bloque */
        }

        /* ------------------ NAVBAR ------------------ */
        .nav-btn {
            font-family: "montserrat";
            padding: 7px 25px;
            border-radius: 20px;
            border: 1px solid var(--pink);
            background: var(--gray);
            color: var(--pink);
            font-size: 14px;
            cursor: pointer;
            font-weight: 600;
            letter-spacing: 1px;
            transition: 0.2s ease;
        }
        .nav-btn:hover {
            background: var(--pink);
            color: white;
            transform: translateY();
        }
        .nav-btn:active {
            transform: translateY(0);
        }

        /* ------------------ GRID HOMEPAGE ------------------ */
        .portfolio {
            max-width: 80%;
            padding: 60px 20% 100px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px 40px;
        }

        .item {
            text-decoration: none;
            color: inherit;
            display: block;   /* Permite que el link envuelva todo */
            width: 100%;
            transition: 0.25s ease;
        }

        .item:hover {
            transform: translateY(-6px);
            color: var(--pink);
        }

        /* Contenedor flexible con proporción */
        .item .img-container {
            width: 100%;
            aspect-ratio: 16 / 9; 
            overflow: hidden;
            border-radius: 12px;
            background: #eaeaea;    /* color del placeholder */
        }
        .item:hover .img-container {
            box-shadow: 0 12px 25px rgba(0,0,0,0.12);
        }

        /* Imagen adaptable */
        .item .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;      /* evita deformación y recorta */
            transition: 0.3s ease;
        }

        .item:hover .img-container img {
            transform: scale(1.15);
            filter: brightness(0.55);
            
        }

        .item-title {
            font-family: "Cascadia Code";
            color: var(--purple);
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .item:hover .item-title {
            color: var(--pink);
        }
      
        .tag {
            font-size: 16px;
            font-family: "Cascadia code";
            font-style: italic;
            font-weight: 400;
            display: inline-block;
            color: var(--dark);
            background: var(--green);
            padding: 3px 10px;
            margin-top: 10px;
            border-radius: 4px;
            gap: 20px;
        }

        /* ------------------ HERO ------------------ */

        .hero-container {
            margin-top: 40px;
        }

        .img-hero {
            width: 100%;
            border-radius: 12px;
        }

        /* ------------------ PLACEHOLDERS ------------------ */
        .placeholder {
            background: #dcdcdc;
            border-radius: 12px;
        }

        .tall {
            aspect-ratio: 16/9;
        }

        .short {
            height: 60px;
            border-radius: 8px;
        }

        /* ------------------ SECTIONS ------------------ */
        .title-area {
            margin-top: 30px;
        }

        .title-area h1 {
            margin: 0 0 10px;
        }

        .tags {
            display: flex;
            gap: 20px;
        }

        .two-columns {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 30px;
        }

        .section-block {
            margin-top: 5%;
            margin-bottom: 7%;
        }
        .single {
            margin-top: 5%;
            margin-bottom: 3%;
            max-width: 900px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .three-grid {
            margin-top: 5%;
            margin-bottom: 5%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
        }

        .two-grid {
            margin-top: 5%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }

        .img-box {
            width: 100%;
            background: #dcdcdc;     /* Placeholder */
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);

            aspect-ratio: 16 / 7;
        }
        .img-box-3x2 {
            width: 100%;
            aspect-ratio: 3 / 2;   /* Cambia según la sección */
            background: #dcdcdc;     /* Placeholder */
            border-radius: 12px;
            overflow: hidden;
            position: relative;

            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        }
        .img-box-8x10 {
            width: 100%;
            aspect-ratio: 8 / 10;   /* Cambia según la sección */
            background: #dcdcdc;     /* Placeholder */
            border-radius: 12px;
            overflow: hidden;
            position: relative;

            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        }
        .img-box-4x3 {
            width: 100%;
            aspect-ratio: 10 / 8;   /* Cambia según la sección */
            background: #dcdcdc;     /* Placeholder */
            border-radius: 12px;
            overflow: hidden;
            position: relative;

            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        }
        .img-box-1x1 {
            width: 100%;
            aspect-ratio: 1 / 1;   /* Cambia según la sección */
            background: #dcdcdc;     /* Placeholder */
            border-radius: 12px;
            overflow: hidden;
            position: relative;

            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        }

        /* La imagen real */
        .img-box img {
            width: 100%;
            height: 100%;
            object-fit: cover;       /* Mantiene proporción */
            display: block;
        }

        .img-box-3x2 img {
            width: 100%;
            height: 100%;
            object-fit: cover;       /* Mantiene proporción */
            display: block;
        }
        .img-box-4x3 img {
            width: 100%;
            height: 100%;
            object-fit: cover;       /* Mantiene proporción */
            display: block;
        }
        .img-box-8x10 img {
            width: 100%;
            height: 100%;
            object-fit: cover;       /* Mantiene proporción */
            display: block;
        }

        .img-box-1x1 img {
            width: 100%;
            height: 100%;
            object-fit: cover;       /* Mantiene proporción */
            display: block;
        }

        /* HERO más panorámico */
        .hero-img {
            aspect-ratio: 16 / 6;
        }

        /* ---------- TARJETA ---------- */
        .insight-card {
            background: var(--gray);
            padding: 20px 25px;
            border-radius: 10px;
            display: flex;
            align-items: flex-start;
            gap: 12px;
            border-left: 4px solid var(--purple);
            transform: translateY(20px);
            transition: 0.6s ease;     /* Suavidad */
        }

        .insight-icon {
            width: 14px;
            height: 14px;
            background: var(--purple);
            display: inline-block;
            border-radius: 50%;
            margin-top: 5px;
        }

        
        
        /* --- about me --- */
.about {
    width: 100%;
    padding: 80px 0;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 0 40px;
}

/* --- Imagen dentro del contenedor --- */
.about-photo {
    width: 400px;
    aspect-ratio: 3/4;
    border-radius: 12px;
    overflow: hidden; /* recorta con bordes redondeados */

    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.about-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* --- Texto --- */
.about-text {
    max-width: 550px;
}

.about-text h1 {
    margin-bottom: 13%;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--dark);
    margin-bottom: 4%;
    font-family: "Montserrat";
}

/* --- Botones --- */
.about-buttons {
    display: flex;
    gap: 50px;
    margin-top: 15%;
}

.btn {
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    border: none;
    display: inline-block;
    transition: 0.2s;

    background: var(--green);
    color: var(--dark);
}

.btn:hover {
    transform: scale(1.07);
}


        /* ---------- FOOTER ---------- */
        footer {
            font-family: "Montserrat", sans-serif;
            background: var(--dark);
            color: var(--green);
            padding: 25px 8%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            font-size: 14px;
        }

        footer .icons a {
            margin-left: 15px;
            text-decoration: none;
            color: var(--green);
        }


        /* ---------- RESPONSIVO ---------- */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        margin-top: 25px;
    }
    .portfolio {
        grid-template-columns: 1fr;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
    }

    .about-photo {
        width: 90%;
        max-width: 400px;
        height: auto;
    }

    .about-photo img {
        width: 100%;
        height: auto;
    }

    .about-text p {
        text-align: left; /* mantiene lectura cómoda */
    }

    .about-buttons {
        justify-content: center;
    }
        }